.server-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    /* adjust as needed */
    display: flex;
    background-color: #23272A;
    overflow-y: auto;
    z-index: 1;
    /* make sure the sidebar is on top of other content */
}

.server-sidebar-icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;

    /* test my css for popover */
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}

.server-sidebar-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.server-sidebar:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}