@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

.server-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 68px;
    display: flex;
    background-color: #1e1f22;
    overflow-y: auto;
    z-index: 1;
    scrollbar-width: none;
}

.server-sidebar::-webkit-scrollbar {
    display: none;
}

.server-sidebar-ul {
    margin-left: 10px;
    padding-left: 0px;
    margin-right: 10px;
}

.server-sidebar-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
    cursor: pointer;
    transition: color .15s ease-out, background-color .15s ease-out, border-radius .15s ease-out;
    transition-property: color, background-color, border-radius;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-out, ease-out, ease-out;
    transition-delay: 0s, 0s, 0s;
}

.server-sidebar-icon:hover {
    border-radius: 40%;
}

.server-sidebar-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.server-sidebar-no-img-icon {
    background-color: #313338;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "PixelPal";
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-out, background-color .15s ease-out, border-radius .15s ease-out;
    transition-property: color, background-color, border-radius;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-out, ease-out, ease-out;
    transition-delay: 0s, 0s, 0s;
}

.server-sidebar-no-img-icon:hover {
    color: white;
    background-color: #5865F2;
    border-radius: 40%;
}

.server-sidebar-add-server-btn>button {
    background-color: #313338;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
    font-size: 35px;
    color: green;
    font-family: 'PixelPal';
    border: 0px;
    list-style: none;
    cursor: pointer;
}

.server-sidebar-add-server-btn>button:hover {
    color: white;
    background-color: #2CA45C;
    border-radius: 40%;
}

#server-sidebar-context-menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #111214;
    border-radius: 5px;
    display: none;
}

.server-sidebar-context-menu-item {
    font-family: 'PixelPal';
    padding: 8px 10px;
    font-size: 15px;
    color: #B0b5bc;
    cursor: pointer;
    border-radius: inherit;
}

#server-sidebar-context-menu.visible {
    display: block;
}

#server-sidebar-context-menu .server-sidebar-context-menu-item:hover {
    background: #5865F2
}

.server-sidebar-context-menu-item>button {
    background: none;
    border: none;
    font-family: 'PixelPal';
    font-size: 15px;
    color: #B0b5bc;
    cursor: pointer;
    border-radius: inherit;
    display: flex;
    padding-left: 0px;
    width: 100%;

}