#server-sidebar-context-menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #111214;
    border-radius: 5px;
    /* display: none; */
}


.server-sidebar-context-menu-item {
    font-family: 'PixelPal';
    padding: 8px 10px;
    font-size: 15px;
    color: #B0b5bc;
    cursor: pointer;
    border-radius: inherit;
}

#server-sidebar-context-menu.visible {
    display: block;
}

#server-sidebar-context-menu .server-sidebar-context-menu-item:hover {
    background: #5865F2
}

.server-sidebar-context-menu-item>button {
    background: none;
    border: none;
    font-family: 'PixelPal';
    font-size: 15px;
    color: #B0b5bc;
    cursor: pointer;
    border-radius: inherit;
    display: flex;
    padding-left: 0px;
    width: 100%;

}