@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Discord Thin';
src: url('../../static/Uni\ Sans\ Thin.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Discord Bold';
src: url('../../static/Uni\ Sans\ Heavy.otf');
font-weight: normal;
font-style: normal;
}

.channel-messages-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: solid 1px #a9bac181;
    margin-bottom: 15px;
}

.channel-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-top: 15px;
    background-color: #41434a;
}

.channel-icon {
    font-family: 'PixelPal';
    font-size: 48px;
    font-style: italic;
    position: relative;
    right: 4px;
    color: white;
    margin: 0;
}

.channel-messages-welcome {
    font-family: 'PixelPal';
    font-size: 36px;
    color: white;
    margin: 10px 0px 10px;
}

.channel-messages-start {
    font-family: 'PixelPal';
    color: #a9bac1;
    margin: 0px 0px 20px;
}

.channel-messages-container {
    background-color: #313338;
    position: fixed;
    top: 51px;
    left: 298px;
    right: 232px;
    bottom: 49px;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.channel-messages-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.message-item-container {
    padding-bottom: 15px;
}
