.overlay {
    position: fixed;
    left: 68px;
    right: 300px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 49px;
    right: 0px;
    background-color: #404249;
    padding: 20px;
    /* border: 1px solid #ddd; */
    width: 400px;
}

.server-members-setting-btn {
    position: fixed;
    right: 20px;
    top: 73px;
    color: #60636B;
}

.server-members-setting-btn button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #60636B;
}

.server-members-setting-btn button i:hover {
    color: #808490;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.server-member-list-card {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#server-members-container {
    overflow-y: auto;
}