@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Discord Thin';
src: url('../../static/Uni\ Sans\ Thin.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Discord Bold';
src: url('../../static/Uni\ Sans\ Heavy.otf');
font-weight: normal;
font-style: normal;
}

.message-form-background {
    background-color: #313338;
    position: fixed;
    bottom: 0;
    right: 0px;
    left: 298px;
    box-sizing: border-box;
    padding: 0px 20px 20px;
}

.message-form-container {
    background-color: #383a40;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
}

.message-form {
    display: flex;
    align-items: center;
}

.message-form-text {
    font-family: 'PixelPal';
    font-weight: bold;
    font-size: 18px;
}

.message-form textarea {
    font-family: 'PixelPal';
    font-size: 18px;
    color: white;

    width: 100%;
    height: 25px;
    background: none;
    border: none;
    resize: none;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.message-form textarea::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.message-form textarea:focus {
    border: none;
    outline: none;
}

.message-form-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form-button {
    color: white;
    background: none;
    border: none;
}

.message-form-button:hover {
    cursor: pointer;
    background-color: #383a4094;
}

.message-form-disabled:hover {
    cursor: not-allowed;
}

.message-hidden {
    visibility: hidden;
    height: 0px;
}

.character-count-warning {
    font-family: 'PixelPal';
    color: white;
}

.character-count-error {
    font-family: 'PixelPal';
    color: #f85b60;
}
