/* TODO Add homepage styles */

@font-face {
    font-family: 'PixelPal';
    src: url('../src/static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Thin';
    src: url('../src/static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Bold';
    src: url('../src/static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

.homepage {
    background-image: url("../src/static/pixelpal-wallpaper.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.login-box {
    background-color: #2C2F33;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 85px;
    height: 300px;
    border-radius: 5px;
}

.login-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PixelPal';
    margin-bottom: 20px;
}

.login-title {
    font-size: 35px;
    font-weight: bold;
}

.login-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: rgb(214, 214, 214);
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form-input {
    margin-bottom: 15px;
}

.form-label {
    font-family: 'Discord Bold';
    font-weight: bolder;
    font-size: 14px;
    color: #acacac;
}

#emailOrPhone {
    height: 30px;
    padding-right: 200px;
}

#password {
    height: 30px;
    padding-right: 200px;
    margin-bottom: 30px;
}

.login-button {
    height: 45px;
    width: 100%;
    background-color: #5865F2;
    border: none;
    border-radius: 3px;
    font-family: 'PixelPal';
    font-size: 16px;
}

.register-group {
    display: inline-flex;
    font-family: 'Discord Thin';
}
