/* TODO Add sitewide styles */

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(30, 30, 30);
  }

  /* Create a dark background for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 3px;
  }

  /* Change the cursor style on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;
  }
