@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Discord Thin';
src: url('../../static/Uni\ Sans\ Thin.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Discord Bold';
src: url('../../static/Uni\ Sans\ Heavy.otf');
font-weight: normal;
font-style: normal;
}

.message-item {
    display: flex;
    width: 100%;
    border-radius: 5px;
}

.message-item:hover {
    background-color: #5e6066;
}

.message-left-side {
    display: flex;
    align-items: center;
}

.message-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.message-center {
    overflow-wrap: break-word;
    width: 100%;
}

.message-sender {
    display: flex;
    font-family: 'PixelPal';
    font-size: 16px;
    color: white
}

.message-username {
    margin: 0px 10px 0px 0px;
    font-weight: bold;
}

.message-timestamp {
    margin: 0px 0px 0px 0px;
}

.message-content {
    font-family: 'PixelPal';
    font-size: 18px;
    color: white
}

.message-content p {
    margin: 0
}

.message-right-side {
    display: flex;
    align-items: center;
}
