@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Discord Thin';
src: url('../../static/Uni\ Sans\ Thin.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Discord Bold';
src: url('../../static/Uni\ Sans\ Heavy.otf');
font-weight: normal;
font-style: normal;
}

.message-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
}

.message-left-and-center {
    display: flex;
    width: 80%;
}

.message-item:hover {
    background-color: rgb(45,48,53);
}

.message-left-side {
    display: flex;
    align-items: flex-start;
}

.message-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 10px;
}

.message-center {
    overflow-wrap: break-word;
    width: 90%;
}

.message-sender {
    display: flex;
    align-items: flex-end;
    font-family: 'PixelPal';
    font-size: 16px;
    color: white
}

.message-username {
    margin: 0px 10px 0px 0px;
    position: relative;
    top: 1px;
    font-size: 18px;
    font-weight: bold;
}

.message-timestamp {
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    color:#a9bac1;
}

.message-content p {
    font-family: 'PixelPal';
    font-size: 16px;
    color: white;
    margin: 0;
}

.message-right-side {
    display: flex;
    align-items: center;
}

.reactions-container {
    display: flex;
}
