@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}


.channel-sidebar {
    background-color: #2B2D31;
    position: fixed;
    top: 0;
    left: 68px;
    height: 100vh;
    width: 230px;
    overflow-y: scroll;
}

.channel-sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.channel-sidebar:hover::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background-color: #222;
}

.channel-sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgb(26, 26, 26);
}


.server-name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px rgb(35, 35, 35) solid;
    margin-left: 15px;
    align-items: center;
    height: 50px;
    width: 200px;
}

.server-name-text {
    font-family: 'PixelPal';
    font-weight: bolder;
    font-size: 18px;
    color: #DEDFE1;
}

.text-channels-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.modal-new-channel button {
    margin-right: 15px;
    color: #949BA4;
    font-size: 25px;
    padding-bottom: 6px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.modal-new-channel button:hover {
    color: whitesmoke;
}

.text-channels {
    color: #949BA4;
    font-family: 'Discord Bold';
    font-size: 13px;
    margin-left: 15px;
}

.text-channels:hover {
    color: whitesmoke;
    cursor: pointer;
}

.channel-divs {
    margin-left: 15px;
    margin-top: 5px;
    font-family: 'PixelPal';
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 200px;
    justify-content: space-between;
}


.channel-divs:hover {
    background-color: #42444C;
    width: 200px;
    border-radius: 3px;
}

.hashtag {
    color: #60636B;
    font-size: 25px;
    margin-right: 10px;
    padding-left: 10px;
}

.channel-text-name {
    font-size: 16px;
    color: #949BA4;
    margin-right: 5px;
}

.channel-divs.selected {
    background-color: #404249;
    color: #fff;
    width: 200px;
    border-radius: 3px;
}

.channel-mapping {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.channel-starter {
    display: flex;
    align-items: center;
}

.channel-divs button {
    font-size: 14px;
    color: #60636B;
    left: 258px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.channel-divs button:hover {
    color: #808490;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.server-setting-btn {
    color: #60636B;
    padding-left: 56px;
}

.server-setting-btn:hover {
    color: #808490;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.server-setting-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.server-dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    left: auto;
}

.server-dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: blue;
}