@font-face {
  font-family: 'PixelPal';
  src: url('../../static/ggsans-Normal.ttf');
  font-weight: normal;
  font-style: normal;
}

.dm-upper-container {
  position: fixed;
  top: 0px;
  left: 298px;
  right: 0px;
  height: 50px;
  background-color: rgb(49,51,56);
  border-bottom: 1px rgb(30,32,36) solid;
  font-family: 'PixelPal';

}


.dm-outer-container {
  position: fixed;
  top: 51px;
  left: 298px;
  right: 0px;
  bottom: 49px;
  background-color: rgb(49,51,56);
  color: rgb(179,184,191);
  font-family: 'PixelPal';

}

.dm-upper-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.dm-upper-username {
  color: rgb(193, 198, 205);
  font-family: 'PixelPal';
  margin-left: 8px;
}

.dm-upper-at {
  color: rgb(179,184,191);
  font-size: 25px;
  margin-left: 20px;
}
