@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

.delete-server-modal {
    display: flex;
    flex-direction: column;
    background-color: #25262b;
    max-width: 400px;
    max-height: 300px;
    border: 1px black solid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 90px;
    border-radius: 10px;
}

.delete-server-header {
    font-family: 'PixelPal';
    color: whitesmoke;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.delete-server-para {
    font-family: 'PixelPal';
    font-size: 15px;
    color: gray;
    text-align: center;
    margin-top: 5px;
}

.delete-form-cancel {
    color: whitesmoke;
    font-family: 'PixelPal';
    font-weight: bolder;
    cursor: pointer;
}

.delete-form-delete {
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #c84040;
    font-family: 'PixelPal';
    color: whitesmoke;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.delete-form-cancel:hover {
    text-decoration: underline;
    color: white;
}



.delete-server-form-button {
    height: 45px;
    width: 100%;
    background-color: #5865F2;
    border: none;
    border-radius: 3px;
    font-family: 'PixelPal';
    font-size: 16px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
}

.delete-server-form-button:hover {
    background-color: #6772ed;
}

#name,
#server_picture {
    height: 20px;
    width: 100%;
    margin-top: 5px;
}

#description {
    height: 30px;
    width: 100%;
    margin-top: 5px;
}