@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
  }



.signup-container {
    display: flex;
    flex-direction: column;
    background-color: #2C2F33;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    height: 540px;
    border-radius: 5px;
    width: 400px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}


.signup-heading {
    display: flex;
    justify-content: center;
    font-family: 'PixelPal';
    margin-bottom: 20px;
}

.signup-header {
    font-size: 25px;
    font-weight: bolder;
    color: whitesmoke;
    margin-bottom: 8px;
}

.signup-input-label, .signup-dob-label {
    color: rgb(180, 180, 180);
    font-family: 'Discord Bold';
}

.signup-input {
    font-size: 18px;
    color: rgba(245, 245, 245, 0.886);
    padding-left: 10px;
}

.signup-input:focus {
    outline: none;
}


#email-label, #username-label, #password-label, .signup-dob-label {
    font-size: 12px;
}

#signup-email, #signup-username, #signup-password {
    background-color:#171819;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 40px;
}

.signup-dob-label {
    margin-bottom: 5px;
}

.signup-dob {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.signup-dob-select {
    background-color:#171819;
    color: rgba(245, 245, 245, 0.431);
    font-family: 'PixelPal';
    font-size: 15px;
    padding-left: 10px;
    padding-right: 60px;
    border: none;
    border-radius: 3px;
    height: 40px;
}

.signup-dob-select:focus {
    outline: none;
}

.signup-submit-btn {
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #5865F2;
    color: whitesmoke;
    font-family: 'PixelPal';
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.signup-already-account {
    color: rgb(0, 170, 255);
    font-family: 'PixelPal';
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    width: fit-content;
}

.signup-already-account:hover {
    text-decoration: underline;
}

.signup-tos {
    color: #949aa2a7;
    font-family: 'PixelPal';
    font-size: 12px;
}
