@font-face {
    font-family: 'PixelPal';
    src: url('../../static/ggsans-Normal.ttf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Thin';
    src: url('../../static/Uni\ Sans\ Thin.otf');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'Discord Bold';
    src: url('../../static/Uni\ Sans\ Heavy.otf');
    font-weight: normal;
    font-style: normal;
}

.channel-topbar-container {
    background-color: #313338;
    position: fixed;
    top: 0;
    left: 298px;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(35, 35, 35) solid;
}

.channel-topbar-left-side {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.channel-name {
    display: flex;
    align-items: center;
}

.channel-topbar-name {
    font-family: 'PixelPal';
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.channel-name .fa-hashtag {
    font-family: 'PixelPal';
    margin-right: 10px;
    font-size: 24px;
    color: #a9bac1;
}

.channel-topbar-right-side {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.channel-topbar-right-side button {
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background: none;
}

.channel-topbar-right-side button:hover {
    cursor: pointer;
}
