@font-face {
  font-family: 'PixelPal';
  src: url('../../static/ggsans-Normal.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Discord Thin';
  src: url('../../static/Uni\ Sans\ Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Discord Bold';
  src: url('../../static/Uni\ Sans\ Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../../static/pixelpal-wallpaper.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.login-box {
  background-color: #2C2F33;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 85px;
  height: 300px;
  border-radius: 5px;
}

.login-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'PixelPal';
  margin-bottom: 20px;
}

.login-title {
  font-size: 28px;
  font-weight: bolder;
  color: whitesmoke;
  margin-bottom: 8px;
}

.login-subtitle {
  font-size: 16px;
  font-weight: bold;
  color: rgb(214, 214, 214);
  margin-bottom: 15px;
}

.login-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-input {
  margin-bottom: 15px;
}

.form-label {
  font-family: 'Discord Bold';
  font-size: 14px;
  color: #acacac;
}

#emailOrPhone {
  height: 30px;
  margin-top: 5px;
  padding-right: 200px;
}

#password {
  height: 30px;
  margin-top: 5px;
  padding-right: 200px;
  margin-bottom: 20px;
}

.login-button {
  height: 45px;
  width: 100%;
  background-color: #5865F2;
  border: none;
  border-radius: 3px;
  font-family: 'PixelPal';
  font-size: 16px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
}

.register-group {
  display: inline-flex;
  font-family: 'PixelPal';
  font-size: 14px;
}

.label-register {
  margin-right: 5px;
  color: #a4a6a9;
}

.register {
  color: rgb(0, 170, 255);
  cursor: pointer;
  text-decoration: none;
}

.register:hover {
  text-decoration: underline;
}
